<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Contact Form Submission</h1>
    <p>Name: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Message:</p>
    <p><%= @contact.message %></p>
  </body>
</html>
