.react-datepicker {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-datepicker__header {
  background-color: #AFC1D6;
  color: #fff;
}

.react-datepicker__day {
  font-weight: bold;
  border-radius: 50%;
}

.react-datepicker__day--selected {
  background-color: #655A7C;
  color: #fff;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #AB92BF;
  border-radius: 50%;
}

.react-datepicker__time:hover {
  background-color: #E0E0E0;
}
