@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Lazydog";
    src: url("assets/fonts/Lazydog.otf") format("opentype");
  }
    @font-face {
    font-family: "Gravitas One";
    src: url("assets/fonts/GravitasOne-Regular.ttf") format("truetype");
  }
}

:root{
  min-height: 100vh;
}

main{
  min-height: 100vh;
}

.calendar-dot {
  width: 8px;
  height: 8px;
  background-color: #AFC1D6; 
  border-radius: 50%;
}

.react-calendar{
  background-color: #AB92BF;
}

.react-calendar__navigation {
  background-color: #AB92BF;
  color: #150C1D;
}

.react-calendar__tile {
  background-color: #655A7C;
  color: #150C1D;
}

.react-calendar__tile:hover {
  background-color: #AB92BF;
  color: #150C1D;
}


.react-calendar__tile--now {
  background-color: #AB92BF;
  color: #150C1D;
}

.react-calendar__tile:hover {
  background-color: #AB92BF;
  color: #150C1D;
}


.react-calendar__tile--active {
  background-color: #655A7C;
  color: #150C1D;
}

.react-calendar__tile:hover {
  background-color: #AB92BF;
  color: #150C1D;
}


.react-calendar__month-view__weekdays__weekday {
  background-color: #AB92BF;
  color: #150C1D;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.custom-modal {
  max-height: 100vh;
  overflow-y: auto;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.calendar-view-container {
  width: 350px;
  display: block;
}

.calendar-container,
.logged-items-container {
  width: 100%; }

@media screen and (min-width: 1000px) {
  .calendar-view-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        width: 780px;
  }

  .calendar-container {
    flex: 1;
    background-color: #AB92BF;
    margin-right: 20px;
  }

  .logged-items-container {
    flex: 2;
    height: 288px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}