@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Lazydog";
    src: url("assets/fonts/Lazydog.otf") format("opentype");
  }
    @font-face {
    font-family: "Gravitas One";
    src: url("assets/fonts/GravitasOne-Regular.ttf") format("truetype");
  }
}

:root{
  min-height: 100vh;
}

main{
  min-height: 100vh;
}

.calendar-dot {
  width: 8px;
  height: 8px;
  background-color: #AFC1D6; 
  border-radius: 50%;
}

.react-calendar{
  background-color: #AB92BF;
}

.react-calendar__navigation {
  background-color: #AB92BF;
  color: #150C1D;
}

.react-calendar__tile {
  background-color: #655A7C;
  color: #150C1D;
}

.react-calendar__tile:hover {
  background-color: #AB92BF;
  color: #150C1D;
}


.react-calendar__tile--now {
  background-color: #AB92BF;
  color: #150C1D;
}

.react-calendar__tile:hover {
  background-color: #AB92BF;
  color: #150C1D;
}


.react-calendar__tile--active {
  background-color: #655A7C;
  color: #150C1D;
}

.react-calendar__tile:hover {
  background-color: #AB92BF;
  color: #150C1D;
}


.react-calendar__month-view__weekdays__weekday {
  background-color: #AB92BF;
  color: #150C1D;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px; /* Adjust the margin as needed for spacing */
}
