@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Rozha+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lazydog";
    src: url("fonts/Lazydog.otf") format("opentype");
  }
}

:root{
  min-height: 100vh;
}

main{
  min-height: 100vh;
}
